* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-user-drag: none;
	user-select: none;
}

.showcase {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #B8FFF9;
}
.showcase--porfile-img {
	width: 200px;
}
.showcase--name {
	font-size: 3.5rem;
	font-family: 'Montserrat Alternates';
}
.showcase--job-title {
	font-size: 2rem;
	font-family: 'Inter', sans-serif;

}

/* showcase--images */

.showcase--cloud-right {
	position: absolute;
	top: 200px;
	right: 40px;
	width: 300px;
}
.showcase--cloud-left {
	position: absolute;
	top: 100px;
	left: 40px;
	width: 300px;
}
.showcase--windmill-img {
	position: absolute;
	bottom: 0;
	left: 20px;
	width: 250px;
	z-index: 1;
}
.showcase--forest-img {
	position: absolute;
	bottom: 0;
	right: 20px;
	width: 250px;
	height: 300px;
}
.showcase--bg-city-img {
	position: absolute;
	bottom: 0;
	left: 20px;
	width: 700px;
	height: 300px;
}